/*I'll clean this up once we start building more pages and we can standardise.*/



*{
    margin:0;
    font-family: "Nunito", sans-serif;
}

h2{
    font-family: "Mulish", sans-serif;
    font-weight: 800;
}

a{
    text-decoration: none;
}

input{
    outline: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    background-color: #4E69F6;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
.logo > img{
    margin-left: 10px;
}

.links {
    display: flex;
}
.links > a{
    margin: 0 auto;
    margin-right: 40px;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    line-height: 20px;
    color: #FFFFFF;
}

/* Navbar */

.hcontent{
    padding: 100px;
    display: flex;
    justify-content: center;
}

.hright{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.hright > h1{
    font-family: "Mulish",sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;

}
.hright > p{
    font-size: 28px;
    line-height: 38px;
    margin-top: 20px;
    margin-bottom: 50px;

}

.hright > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hright > div > a{
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    margin-left: 40px;
    color: #FFFFFF;
}

/* header */

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px;
}

.c1{
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
}

.c1 > div{
    display: flex;
    align-items: flex-start;
}

.c1content{
    margin-left: 15px;
}

.c1content h2{
    font-family: "Mulish",sans-serif;
    font-size: 28px;
    line-height: 35px;
}

.c1content h3{
    font-size: 20px;
    line-height: 27px;
}

.c1content p{
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.c1content a{
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #4B5D68;
}


.c2{
    display: flex;
    margin-top: 150px;
}

.c2 div{
    margin-right: 100px;
}

.c2 h2{
    font-family: "Mulish",sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
}

.c2 h3{
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 15px;
}

.c2 p{
    font-size: 18px;
    line-height: 25px;
    color: #4B5D68;
    margin-bottom: 20px;
}

.c2 a{
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #000000;

}

.c3{
    margin-top: 150px;
    background: #F9D100;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.c3 img{
    margin-right: 35px;
}

.c3 div{
    display: flex;
    flex-direction: column;
}

.c3 h2{
    font-size: 32px;
    line-height: 40px;
}

.c3 h3{
    margin-top: 10px;
    font-size: 28px;
    line-height: 38px;
}
.c3 div div{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.c3 div p{
    font-size: 18px;
    line-height: 25px;
    margin-right: 10px;
}

.c4 {
    margin-top: 150px;
    margin-left: 40px;
    display: flex;
    align-self: flex-start;
}

.c4 h2{
    font-size: 32px;
    line-height: 40px;
    margin-right: 30px;
}


.c5 {
    display: flex;
    margin-top: 50px;
    align-self: flex-start;
    margin-left: 40px;;
}

.c5box{
    max-width: 300px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.c5title{
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.c5title > h3{
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    margin-left: 10px;
}


.footer{
    margin-top: 170px;
    display: flex;
    justify-content: center;
}

.footerbox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 75px;
}

.footerbox a{
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.footer .logo{
    color:black;
    margin-bottom: 6px;
}

.social{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.social h3{
    margin-left: 20px;
    font-size: 12px;
    line-height: 16px;
}

.end{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 50px;
}